
# --- Ignorer les fichiers temporaires et caches ---
__pycache__/
.ipynb_checkpoints/
*.pyc
*.pyo
*.pyd
*.swp
.DS_Store
.env
.venv
*.log

# --- Ignorer tout le contenu de data mais garder le dossier ---
data/*
!data/.gitkeep
models/*
!models/.gitkeep
